.wa-chat-header{
    height: 60px;
    background-color: #202c33;
    border-left: 1px solid #2a3942;
    border-bottom: 1px solid #2a3942;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}

.wa-chat-left{
    display: flex;
    align-items: center;
    gap: 12px;
}

.wa-chat-avatar{
    width: 40px;
    height: 40px;
    background-color: #005c4b;
    border-radius: 50%;
    color: #e9edef;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wa-chat-title{
    font-size: 16px;
    font-weight: 600;
    color: #e9edef;
}

.wa-chat-right{
    display: flex;
    align-items: center;
    gap: 18px;
}

.wa-chat-right i{
    font-size: 18px;
    color: #aebac1;
    cursor: pointer;
}

.wa-chat-right i:hover{
    color: #d1d7db;
}
