.avatar-bubble {
    width: 38px;
    height: 38px;
    background: #2a3942;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    font-weight:600;
    color:#e9edef;
    user-select:none;
}
