.wa-contactlist{
    height: 100%;
    overflow-y: auto;
    background-color: #111b21;
    padding-top: 8px;
}

.wa-no-contacts{
    text-align:center;
    color:#8696a0;
    margin-top:40px;
}

.wa-contact-item{
    display:flex;
    align-items:center;
    padding:10px 14px;
    cursor:pointer;
    transition:background .2s ease;
}

.wa-contact-item:hover{
    background-color:#202c33;
}

.wa-contact-avatar{
    width:48px;
    height:48px;
    background-color:#2a3942;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#e9edef;
    flex-shrink:0;
    font-size:18px;
    font-weight:bold;
}

.wa-contact-mid{
    display:flex;
    flex-direction:column;
    margin-left:12px;
    flex:1;
}

.wa-contact-name{
    color:#e9edef;
    font-size:15px;
    font-weight:500;
}

.wa-contact-email{
    color:#8696a0;
    font-size:13px;
    margin-top:2px;
}
